

.backImg{
    background-image: url("https://static.vecteezy.com/system/resources/previews/007/011/187/original/world-blood-donor-day-poster-donor-blood-concept-illustration-background-for-world-blood-donor-day-free-vector.jpg");
    background-size: cover;
    background-position: 30% ;
    opacity: 5.8;
   
}