.contback{
    background-color: #73a3d0;
}

.cat {
    position: fixed;
    overflow: hidden;
    
    /* Additional styling properties */
  }

.homeinfo{
    background-image: url("C:\Users\ASUS\Desktop\BloodBank\client\public\images\background.png");
    
    
}

 